@import url("Open Sans.css");

body, html {
  height: 100%;
  width: 100%;
}

body {
  background: url("/dist/background.png") no-repeat;
  background-size: 1520px;
  min-width: 1520px;
  min-height: 757px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

audio {
  display: none;
}

input[type=text] {
  position: absolute;
  box-sizing: border-box;
  line-height: normal !important;
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 13px;
  display: block;
  height: 55px;
  padding: 10px 18px 11px 48px;
  width: 276px;
  left: 852px;
  top: 225px;
  color: #888;
}
input[type=text]:focus {
  outline: none;
}
button.btn-filter {
  box-sizing: border-box;
  transition: opacity .5s,color .5s,background-color .5s;
  position: absolute;
  top: 225px;
  left: 1145px;
  height: 55px;
  width: 192px;
  margin: 0;
  border: none;
  color: white;
  opacity: 1;
  background: #47be00;
  box-shadow: inset 0 -2px 0 #45b900;
  font-size: 18px;
  padding: 15px 24px 16px;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  font-weight: 600;
  opacity: 0;
}

.skip {
  position: absolute;
  top: 409px;
  left: 1260px;
  z-index: 3;
  color: #ccc;
  display: none;
  cursor: pointer;
  user-select: none;
}

.chart .tutorial-key.black-key,
.chart .tutorial-key.white-key {
  background: #f8dae0 !important;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  transition: background .5s;
  z-index: 2;
}
.chart .tutorial-key.white-key {
  border-right: none !important;
  margin-right: 1px;
}
@-webkit-keyframes pulsate {
  0% { box-shadow: 0 0 5px 5px #f8dae0; }
  50% { box-shadow: 0 0 25px 5px #f8dae0; }
  100% { box-shadow: 0 0 5px 5px #f8dae0; }
}

.chart {
  position: absolute;
  top: 394px;
  left: 184px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chart-area {
  box-sizing: border-box;
  width: 1153px;
  height: 253px;
  padding: 0 0 0 60px;
  overflow: hidden;
  background: white;
}

.chart-area .horizontal-grid {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 50px 60px 0;
  pointer-events: none;
}
.chart-area .horizontal-grid .line {
  border-top: 1px dotted #e6e6e6;
  height: 20%;
}

.chart-area .chart-axis-y {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  padding: 45px 0 0 16px;
  color: #ddd;
  font-weight: 600;
  font-size: 12px;
  pointer-events: none;
}
.chart-area .chart-axis-y .label {
  height: 20%;
  width: 44px;
}

.chart .bar-container {
  float: left;
  margin-right: 37px;
  width: 39px;
  position: relative;
  height: 253px;
  pointer-events: none;
}

.chart .bar {
  position: absolute;
  width: 100%;
  height: 100%;
}

.chart .bar .label  {
  position: absolute;
  top: -30px;
  color: #2cc1e6;
  text-align: center;
}

.chart .bar .fill {
  position: absolute;
  background: #2cc1e6;
  bottom: 0;
  width: 100%;
  pointer-events: all;
  z-index: 3;
  /*-webkit-transition: box-shadow .3s;
  transition: box-shadow .3s;*/
}
.chart .bar .fill span.char {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 15px;
  color: white;
  font-size: 20px;
  font-weight: 200;
  pointer-events: none;
  transition: opacity .5s;
}
.chart .bar .fill:not(.black-key) span.char {
  opacity: 0
}
/*
.chart .bar .fill.black-key {
  box-shadow: #aaa 2px 2px 6px, inset rgba(255, 255, 255, .7) 5px -5px 11px;
}
*/
.chart .bar .fill.black-key.active {
  background: #0188aa;
}
.chart .bar .fill.black-key.anim {
  transition: background-color .4s;
}

.chart .bar .billable {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #18a8cc;
  overflow: hidden;
}
.chart .bar .billable .fa-dollar {
  position: absolute;
  color: #2cc1e6;
  font-size: 18px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -4px;
}

.chart .white-keys {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.chart .white-keys .white-key {
  position: relative;
  width: 75px; /* 110 + 37 of margin - 1 of border */
  border-right: 1px solid #ccc;
  float: left;
  height: 100%;
  background: white;
  opacity: 0;
}
.chart .white-keys .white-key.active {
  background: #e6e6e6 !important;
}
.chart .white-keys .white-key.anim {
  transition: background-color .4s;
}
.chart .white-keys .white-key span {
  display: block;
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  color: #adadad;
  font-size: 30px;
  font-weight: 200;
  pointer-events: none;
}
/*.chart .white-keys .white-key:hover {
  transform: perspective(30px) rotateX(-1deg);
}*/
.chart .white-keys .white-key:first-child {
  width: 79px; /* 60 of padding + 110/2 */
}
.chart .white-keys .white-key:last-child {
  width: 85px;
  border-right: 0;
}

.bar-0 .fill {
  height: 55px;
}
.bar-0 .billable {
  height: 0%;
}
.bar-1 .fill {
  height: 136px;
}
.bar-1 .billable {
  height: 0%;
}
.bar-2 .fill {
  height: 120px;
}
.bar-2 .billable {
  height: 0%;
}
.bar-3 .fill {
  height: 146px;
}
.bar-3 .billable {
  height: 0%;
}
.bar-4 .fill {
  height: 162px;
}
.bar-4 .billable {
  height: 0%;
}
.bar-5 .fill {
  height: 116px;
}
.bar-5 .billable {
  height: 0%;
}
.bar-6 .fill {
  height: 122px;
}
.bar-6 .billable {
  height: 0%;
}
.bar-7 .fill {
  height: 124px;
}
.bar-7 .billable {
  height: 0%;
}
.bar-8 .fill {
  height: 144px;
}
.bar-8 .billable {
  height: 0%;
}
.bar-9 .fill {
  height: 168px;
}
.bar-9 .billable {
  height: 0%;
}
.bar-10 .fill {
  height: 154px;
}
.bar-10 .billable {
  height: 0%;
}
.bar-11 .fill {
  height: 77px;
}
.bar-11 .billable {
  height: 0%;
}
.bar-12 .fill {
  height: 91px;
}
.bar-12 .billable {
  height: 0%;
}
.bar-13 .fill {
  height: 130px;
}
.bar-13 .billable {
  height: 0%;
}
